{% extends "base_template.html" %}

{% load staticfiles %}

{% block title %}
    SnipBin &middot; Editing Snippet
{% endblock %}

{% block body_main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <form method="post" action="{% url 'snippet:snippet_edit' snippet.uid.hex %}" id="snippet-form">
                    {% csrf_token %}
                    <h5>New Snippet</h5>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="snip-title" name="title" placeholder="Filename" class="form-control"
                                       type="text" value="{{ snippet.title }}">
                            </div>
                        </div>
                        <div class="col-md-4 offset-md-2">
                            <div class="form-group" style="width: inherit">
                                <select id="snip-lang" name="language" class="custom-select" style="width: inherit" title="Language">
                                    {% for language in all_languages %}
                                        <option value="{{ language.id }}" data-extension="{{ language.extensions }}"
                                        {% if language == snippet.language %}
                                            selected="selected"
                                        {% endif %}
                                        >
                                            {{ language.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Snippet Description" name="description"
                                  id="snip-description" class="form-control" rows="2">{{ snippet.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="// Code" name="code" id="snip-code" class="form-control"
                                  rows="16">{{ snippet.code }}</textarea>
                    </div>
                    <div style="width: 100%; height: 14px; border-bottom: 1px solid #dddddd; text-align: center">
                        <span style="font-size: 14px; background-color: #FFFFFF; padding:10px;">
                            Or
                        </span>
                    </div>
                    <div class="form-group" style="width: inherit; margin-top:30px">
                        <label for="file-upload-btn" class="btn btn-outline-info"> Populate Snippet from file
                            <input class="btn btn-outline-info mb-4" id="file-upload-btn" type="file" style="width: inherit; display:none">
                        </label>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <h5>Optional Settings</h5>
                            <hr>
                            <div class="form-group" style="width: inherit">
                                Will expire on <b>{{ snippet.expiry_date }}</b>
                                <select class="custom-select" name="expiry" id="snip-expiry" title="Expiry"
                                        style="width: inherit">
                                    <option selected value="-1">Change expiry date</option>
                                    <option value="0">Never Expire</option>
                                    <option value="7">Expire in One Week</option>
                                    <option value="14">Expire in Two Weeks</option>
                                    <option value="30">Expire in One Month</option>
                                    <option value="365">Expire in One Year</option>
                                </select>
                            </div>
                            <div class="form-group" style="width: inherit">
                                <select class="custom-select" name="privacy" id="snip-privacy" title="Expiry"
                                        style="width: inherit">
                                    <option selected value="PUBLIC">Visible to Everyone</option>
                                    <option value="PRIVATE">Visible to Just Me</option>
                                    <option value="LINK">Visible to People With Link</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="width: inherit">
                                <input id="submit-snippet-button" class="btn btn-outline-success mb-4" type="submit" style="width: inherit"
                                       value="Finish Editing Snippet">
                            </div>
                            {% for error in errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}
