{% extends "base_template.html" %}

{% load staticfiles %}

{% block title %}
    Snipe &middot; {{ snippet.title }}
    {# ToDo: Render from Snippet Object #}
{% endblock %}

{% block body_main %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <h5 class="card-title">{{ snippet.title }}</h5>
                <h6>
                    <a href="{% url 'account:user' snippet.author.user.username %}">
                        {{ snippet.author.user.first_name }} {{ snippet.author.user.last_name }}
                    </a>
                    &middot; {{ snippet.author.designation }} &middot; {{ snippet.author.organisation }}</h6>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <pre>{{ snippet.code }}</pre>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-6">
                <h6 class="text-muted">&lt; {{ snippet.language }} &gt;</h6>
            </div>
            <div class="col-md-6">
                <p class="text-md-right text-muted">Last Modified {{ snippet.last_modified }}</p>
            </div>
        </div>
    </div>
{% endblock %}