{% extends "base_template.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/prism.js' %}"></script>
{% endblock %}

{% block title %}
    SnipBin &middot; {{ snippet.title }}
{% endblock %}

{% block body_main %}
    <form action="{% url 'snippet:bookmark' snippet.uid.hex %}" method="POST" id="bookmark_form">
        {% csrf_token %}
    </form>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-9">
                <h5 class="card-title">{{ snippet.title }}</h5>
                <h6>
                    <a href="{% url 'account:user' snippet.author.username %}">
                        {{ snippet.author.first_name }} {{ snippet.author.last_name }}
                    </a>
                    &middot; {{ snippet.author.job_title }} &middot; {{ snippet.author.department }}</h6>
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary text-muted" role="button" type="submit" form="bookmark_form">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    &nbsp; {{ snippet.bookmarks_count }}
                </button>
                    <button class="btn btn-secondary text-muted disabled">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        &nbsp; {{ snippet.views_count }}
                    </button>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-6">
                <p>{{ snippet.description }}</p>
            </div>
            {% if snippet.author_id == request.user.id %}
                <div class="col-md-6">
                    <div class="float-md-right">
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                                style="color: #000000"><i
                                class="fa fa-trash"></i> Delete
                        </button>
                        <a class="btn btn-outline-success" href="{% url 'snippet:snippet_edit' snippet.uid.hex %}" style="color: #000000"><i class="fa fa-pencil"></i> Edit</a>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <pre><code
                        class="language-{{ snippet.language | lower }} line-numbers language-markup">{{ snippet.code }}</code></pre>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-6">
                <h6 class="text-muted">&lt; {{ snippet.language }} &gt;</h6>
            </div>
            <div class="col-md-6">
                <p class="text-md-right text-muted">Last Modified {{ snippet.last_modified.date }}</p>
            </div>
        </div>
        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        I mean, this will totally delete your snippet - no coming back.
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'snippet:snippet_delete' snippet.uid.hex %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger" style="color: #000000"><i
                                    class="fa fa-trash"></i> Delete
                            </button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                    style="color: #000000">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
