{% extends "base_template.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/prism.js' %}"></script>
{% endblock %}

{% block title %}
    SnipBin &middot; {{ snippet.title }}
{% endblock %}

{% block body_main %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <h5 class="card-title">{{ snippet.title }}</h5>
                <h6>
                    <a href="{% url 'account:user' snippet.author.username %}">
                        {{ snippet.author.first_name }} {{ snippet.author.last_name }}
                    </a>
                    &middot; {{ snippet.author.job_title }} &middot; {{ snippet.author.department }}</h6>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-6">
                <p>{{ snippet.description }}</p>
            </div>
            <div class="col-md-6">
                <div class="float-md-right">
                    <button class="btn btn-outline-danger" style="color: #000000"><i class="fa fa-trash"></i> Delete</button>
                    <button class="btn btn-outline-success" style="color: #000000"><i class="fa fa-pencil"></i> Edit</button>
                </div>
            </div>
            <div class="col-md-12">
                <pre class=""><code
                        class="language-{{ snippet.language | lower }} line-numbers language-markup">{{ snippet.code }}</code></pre>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-6">
                <h6 class="text-muted">&lt; {{ snippet.language }} &gt;</h6>
            </div>
            <div class="col-md-6">
                <p class="text-md-right text-muted">Last Modified {{ snippet.last_modified.date }}</p>
            </div>
        </div>
    </div>
{% endblock %}