{% extends "base_template.html" %}

{% load staticfiles %}

{% block title %}
    {{ user.user.first_name }} {{ user.user.last_name }} &middot; Snipe
    {# ToDo: Render from Snippet Object #}
{% endblock %}

{% block body_main %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-1" style="background-color: #4b5257">
            </div>
            <div class="col-md-11">
                <h5>
                    {{ user.user.first_name }} {{ user.user.last_name }}
                    <br>
                    <span class="text-muted">{{ user.user.username }}</span>
                </h5>
                <hr>
            </div>
            {% for snippet in snippets %}
                <div class="col-md-12">
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h5>{{ snippet.title }}</h5>
                        </div>
                        <div class="card-block">
                            <pre>{{ snippet.code }}</pre>
                        </div>
                        <div class="card-footer text-muted">
                            &lt; {{ snippet.language }} &gt;
                            &middot;
                            Last modified {{ snippet.last_modified.date }}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    Looks like you don't have any snippets yet.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}