{% extends "base_template.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/prism.js' %}"></script>
{% endblock %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }} &middot; Snipe
    {# ToDo: Render from Snippet Object #}
{% endblock %}

{% block body_main %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-1" style="background-color: #4b5257">
            </div>
            <div class="col-md-11">
                <h5>
                    {{ user.first_name }} {{ user.last_name }}
                </h5>
                <h6 class="text-muted">
                    {{ user.username }}
                    &middot; {{ user.job_title }}
                    &middot; {{ user.department }}
                </h6>
                <hr>
            </div>
            {% for snippet in snippets %}
                <div class="col-md-12">
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <a href="{% url 'snippet:snippet' snippet.author.user.username snippet.uid.hex %}">
                                    {{ snippet.title }}
                                </a>
                            </h5>
                        </div>
                        <div class="card-block">
                            {{ snippet.description }}
                        </div>
                        <div class="card-block" style="padding: 0;">
                            <pre style="margin: 0; border-radius: 0"><code
                                    class="language-{{ snippet.language | lower }} line-numbers language-markup">{{ snippet.code }}</code></pre>
                        </div>
                        <div class="card-footer text-muted">
                            &lt; {{ snippet.language }} &gt;
                            &middot;
                            Last modified {{ snippet.last_modified.date }}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    Looks like you don't have any snippets yet.
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
{% endblock %}
