{% extends "base_template.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
{% endblock %}

{% block title %}
    SnipBin &middot; {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block body_main %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    {{ user.first_name }} {{ user.last_name }}
                </h5>
                <h6 class="text-muted">
                    {{ user.username }}
                    &middot; {{ user.job_title }}
                    &middot; {{ user.department }}
                </h6>
                <hr>
            </div>
            {% include 'snippet/snippets.html' %}

            {% include 'snippet/paginator.html' %}
        </div>
    </div>
    <br>
{% endblock %}
