[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
django-simple-history = "*"
adal = "*"
djangorestframework = "*"
requests = "*"
pillow = "*"

[dev-packages]
django-debug-toolbar = "*"
pylint = "*"
"pep8" = "*"
isort = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
