{% extends "base_template.html" %}

{% load staticfiles %}

{% block title %}
    SnipBin &middot; Home
{% endblock %}

{% block body_main %}
    <div class="container text-center" style="height: inherit;">
        <div style="padding-top: 15%">
            <h1 style="font-weight: 100; font-size: 50px;">SnipBin</h1>
            <h3 style="font-weight: 100">Instantly share code snippets and notes in your organisation.</h3>
            <hr>
            <a href="{% url 'authentication:login' %}" class="btn btn-primary"> Login to Begin</a>
        </div>
    </div>
{% endblock %}