{% extends "base_template.html" %}

{% load staticfiles %}

{% block title %}
    Snipe &middot; Home
{% endblock %}

{% block body_main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <form>
                    <h5>New Snippet</h5>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="snip-title" placeholder="Snippet Title" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-4 offset-md-2">
                            <div class="form-group" style="width: inherit">
                                <select class="custom-select" style="width: inherit" title="Language">
                                    <option value="Plain Text">Plain Text</option>
                                    <option value="C++">C++</option>
                                    <option value="C#">C#</option>
                                    <option value="Python">Python</option>
                                    <option value="Java">Java</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Snippet Data" id="snip-code" class="form-control" rows="16"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h5>Optional Settings</h5>
                            <hr>
                            <div class="form-group" style="width: inherit">
                                <select class="custom-select" id="snip-expiry" title="Expiry"
                                        style="width: inherit">
                                    <option selected value="0">Never Expire</option>
                                    <option value="7">Expire in One Week</option>
                                    <option value="14">Expire in Two Weeks</option>
                                    <option value="30">Expire in One Month</option>
                                    <option value="365">Expire in One Year</option>
                                </select>
                            </div>
                            <div class="form-group" style="width: inherit">
                                <select class="custom-select" id="snip-privacy" title="Expiry"
                                        style="width: inherit">
                                    <option selected value="public">Visible to everyone</option>
                                    <option value="private">Visible to just me</option>
                                    <option value="protected">Visible to some people in my organisation</option>
                                </select>
                            </div>
                            <div class="form-group" style="width: inherit">
                                <input class="form-control" placeholder="Visible to ... (Start typing aliases)">
                            </div>
                        </div>
                        <div class="col-md-4 offset-md-2">
                            <button type="submit" class="btn btn-outline-success mb-4" style="width: inherit">Create New
                                Snippet
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}