{% extends "base_template.html" %}

{% load staticfiles %}

{% block title %}
    SnipBin &middot; 404
{% endblock %}

{% block body_main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12">
                <h1 class="text-center" style="font-weight: 100">404 Not Found.</h1>
                <h2 class="text-center" style="font-weight: 100">Thou shalt not pass. <br> At least for now.</h2>
            </div>
        </div>
    </div>
{% endblock %}